<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit" method="post">
    <table>
        <tr>
            <th>ID</th>
            <td><input type="text" name="id"></td>
        </tr>
        <tr>
            <th>Thành phố</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>Quốc gia</th>
            <td><input type="text" name="country"></td>
        </tr>
        <tr>
            <th>Diện tích</th>
            <td><input type="text" name="area"></td>
        </tr>
        <tr>
            <th>Dân số</th>
            <td><input type="text" name="population"></td>
        </tr>
        <tr>
            <th>GDP</th>
            <td><input type="text" name="gdp"></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>